# Git / IDE
.git
.gitignore
.vscode
.idea
**/.DS_Store

# Dependencies
**/node_modules
node_modules

# Build outputs
**/.output
**/dist
**/.vinxi
**/.tanstack
**/.cache

# Environment
**/.env
**/.env.*
!**/.env.example

# Runtime data
/uploads/

# Logs
**/*.log

# Misc
*.md
